* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    margin: auto;
    padding: auto;
    font-family: Helvetica, Arial, sans-serif;
    align-items: center;
    flex-direction: column;
}

header {
    padding: 30px 30px;
    display: flex;
    align-items: center;
    flex: wrap;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
}

.quiz-question {
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
    margin: 5%;
}

.quiz-title {
    padding: 0%;
    margin: 0%;
    padding-bottom: 5%;
    display: block;
}

.correct-wrong {
    opacity: 1;
    transition: opacity 1s;
}

.correct-wrong-fade {
    opacity: 0;
}